/* Importazione del font */
@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

/* colore per i testi: #f7b544*/
/* colore per lo sfondo: #1b74b0*/

/* stile generale della pagina */
body{
    background-color: #1b74b0;
    color: #f7b544;
    font-family: 'Press Start 2P', serif;
    text-align: center;
}

body h1{
    text-align: center;
}

/* definizione della grandezza della tabella per gestire l'immagine e il testo */
table{
    width: 50%;
    border: 2px solid black;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.tabella-prodotti td{
    width: 50%;
    border: 2px solid black;
    background-color: #1b74b0;
    border-radius: 10px;
}
/* stile del div che contiene la tabella */
#product-info td img{
    height: 100px;
    width: 75px;
    border-radius: 10px; /* Regola l'arrotondamento qui */
    padding : 5px;
}
.bottone_checkout {
    background-color: #f7b544; /* Colore giallo */
    border: none; /* Rimuove il bordo predefinito */
    color: #1b74b0; /* Colore del testo */
    padding: 10px 20px; /* Spaziatura interna */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Bordo arrotondato */
    font-family: 'Press Start 2P', serif;
    margin-bottom: 40px;
}