@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

.footer{
    background: #fff685;
    margin-top: 20px;
    padding: 50px ;
    bottom: 0;
    border-radius: 10px;
    font-family: 'Press Start 2P', serif;
    color: #0049B7;
    font-size: 17px;
}

.grid{
    display: flex;
    max-width: 1350px;
    padding: 20px;
    margin: 0 auto;
}

.grid .col{
    width: 100%;
}

.col {
    padding: 17px;
}

@media screen and (max-width: 550px){
    .footer{
        font-size: 12px;
    }

    .grid{
        float: none;
        display: block;
        width: 100%;
    }
    .col{
        padding: 10px;
    }
}