@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";


#benvenuto{
    display: flex;
    justify-content: center;
    text-align: center;
}

#benvenuto h1{
    flex-grow: 1;
    color: #fff685;
    font-family: 'Press Start 2P', serif;
}

#benvenuto img{
    height: 125px;
    width: 125px;
    float: left;
    cursor: pointer;
}

.header-buttons {
    display: flex;
    justify-content: space-around; /* o "flex-end" se vuoi che siano allineati a destra */
    align-items: center; /* Centra i bottoni verticalmente */
}

/* modifica parametri di specifiche immagini */
.icone{
    height: 45px !important;
    width: 45px !important;
    margin-top: 75px;
    margin-right: 20px;
}

/* stile per il menu */
.side-menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0049B7;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-menu.open {
    width: 15%; /* larghezza del menù */
}

#closeMenu{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-family: 'Press Start 2P', serif;
    color: #fff685;
}

#sideMenu img{
    height: 125px;
    width: 125px;
}

#sideMenu ul {
    list-style-type: none;
    padding: 0;
}

#sideMenu li {
    padding: 10px;
    font-family: 'Press Start 2P', serif;
    font-size: 20px;
}

#sideMenu li a {
    text-decoration: none;
    color: #fff685;
    display: block;
}

#sideMenu li a:hover {
    color: red;
}

/* Stile per il form e il bottone della pagina amministratore in header.jsp */

.header-buttons form {
    display: flex;
    align-items: center; /* Allinea verticalmente il form con le altre icone */
}

.header-buttons form input[type="submit"] {
    background-color: #ff1d58; /* Colore di sfondo come i bottoni in Home.css */
    color: #fff685; /* Colore del testo come in Home.css */
    border: none;
    padding: 10px 20px;
    margin-left: 10px; /* Distanza dal testo o altre icone */
    border-radius: 5px; /* Arrotonda gli angoli */
    cursor: pointer; /* Cambia il cursore in una mano per indicare che è cliccabile */
    font-family: 'Press Start 2P', serif; /* Font come in Home.css */
    font-size: 14px; /* Dimensione del testo */
    transition: background-color 0.3s; /* Transizione fluida al passaggio del mouse */
}

.header-buttons form input[type="submit"]:hover {
    background-color: #c41246; /* Cambia colore al passaggio del mouse per feedback visivo */
}