/* Importazione del font */
@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

/* colore per i testi: #f7b544*/
/* colore per lo sfondo: #1b74b0*/

/* stile generale */
body{
    background-color: #1b74b0;
    margin: 0;
    padding: 0;
}

/* stile per il div del titolo e per la foto del menu */
#benvenuto{
    display: flex;
    justify-content: center;
    text-align: center;
}

#benvenuto h1{
    flex-grow: 1;
    color: #f7b544;
    font-family: 'Press Start 2P', serif;
}

#benvenuto img{
    height: 125px;
    width: 125px;
    float: left;
    cursor: pointer;
}

/* modifica parametri di specifiche immagini */
.icone{
    height: 45px !important;
    width: 45px !important;
    margin-top: 75px;
    margin-right: 20px;
}

/* menù a comparsa sull'icona del profilo */
.iconaProfilo{
    position: relative;
    display: inline-block;
}

.menu-profilo{
    display: none;
    position: absolute;
    background-color: #1b74b0;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.profilo:hover .menu-profilo{
    display: block;
}

.menu-profilo ul{
    list-style-type: none;
    padding: 0;
}

.menu-profilo ul li a{
    color: #f7b544;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-profilo ul li a:hover{
    background-color: red;
}

/* stile per il menu */
.side-menu {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #1b74b0;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-menu.open {
    width: 15%; /* larghezza del menù */
}

#closeMenu{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    font-family: 'Press Start 2P', serif;
    color: #f7b544;
}

#sideMenu img{
    height: 125px;
    width: 125px;
}

#sideMenu ul {
    list-style-type: none;
    padding: 0;
}

#sideMenu li {
    padding: 10px;
    font-family: 'Press Start 2P', serif;
    font-size: 20px;
}

#sideMenu li a {
    text-decoration: none;
    color: #f7b544;
    display: block;
}

#sideMenu li a:hover {
    color: red;
}

/*  */
#novita{
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f7b544;
    font-family: 'Press Start 2P', serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* stile per i titoli degli slider */
#sconti, #TCG, #GAF, #GdT{
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #f7b544;
    font-family: 'Press Start 2P', serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* stile per gli slider delle immagini di ogni categoria */
#slider_novita, #slider_sconti, #slider_TCG, #slider_GAF, #slider_GdT{
    background-color: white;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* stile per le foto degli slider */
#slider_novita img, #slider_sconti img, #slider_TCG img, #slider_GAF img, #slider_GdT img{
    height: 200px;
    width: 150px;
    margin: 15px;
}

/* stile per i bottoni destra e sinistra degli slider */
#left_novita, #right_novita, #left_sconti, #right_sconti, #left_TCG, #right_TCG, #left_GAF, #right_GAF, #left_GdT, #right_GdT{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

/* stile per i bottoni degli slider */
#prev_novita, #next_novita, #prev_sconti, #next_sconti, #prev_TCG, #next_TCG, #prev_GAF, #next_GAF, #prev_GdT, #next_GdT{
    width: 40px !important;
    height: 40px !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

/* stile per il bottone che torna su */
#tornaSu {
    width:50px;
    height:50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: #f7b544;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
}



#info ul{
    font-size: 15px;
    list-style-type: none;
}

#info li a:link{
    color: #f7b544; /* cambia colore di base del link*/
}

#info li a:hover {
    color: red; /* Cambia colore del testo al passaggio del mouse */
}

.titolo a{
    cursor: pointer;
    text-decoration: none;
    color: #f7b544
}