/* Importazione del font */
@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

/* colore per i testi: #f7b544*/
/* colore per lo sfondo: #1b74b0*/

/* stile generale */
body{
    background-color: #0049B7;
    margin: 0;
    padding: 0;
}

/*  */
#novita {
    margin-top: 0;
}

/* stile per i titoli degli slider */
.titolo{
    background-color: #ff1d58;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #fff685;
    font-family: 'Press Start 2P', serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* stile per gli slider delle immagini di ogni categoria */
.slider{
    background-color: white;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* stile per le foto degli slider */
.slider img{
    height: 200px;
    width: 150px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiunge una transizione fluida per trasformazione e ombra */
}

/* Stile per l'hover delle immagini */
.slider img:hover {
    transform: scale(1.1); /* Aumenta la dimensione dell'immagine del 10% */
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Aggiunge un'ombra per far risaltare l'immagine */
}


/* stile per i bottoni degli slider */
.arrow img{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    width: 40px !important;
    height: 40px !important;
    border: none !important;
    border-radius: 5px !important;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

/* stile per il bottone che torna su */
.tornaSu {
    width:50px;
    height:50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff0028;
    color: #fff685;
    cursor: pointer;
    border-radius: 50%;
    font-size: 24px;
    line-height: 50px;
}


.titolo a{
    cursor: pointer;
    text-decoration: none;
    color: #fff685
}

/* media query per rendere la pagina home dinamica */
@media screen and (max-width: 550px){
    .slider img{
        height: 125px;
        width: 85px;
        margin: 10px;
    }

    .titolo{
        font-size: 12px;
    }
}