@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0049B7;
    height: 100vh;
    font-family: 'Press Start 2P', serif;
    color: #fff685;
    padding-bottom: 120px;
}

body h1{
    text-align: center;
}

#foto-logo {
    text-align: center;
}

#foto-logo img {
    width: 175px;
    height: 175px;
}

.foto-login{
    margin-top: 175px;
}

.foto-registrazione{
    margin-top: 70px;
}

#registrazione, #login{
    width: 45%;
    margin: 10px;
}

#registrazione{
    text-align: center;
}

#registrazione ul{
    list-style-type: none;
    padding: 0;
}

#registrazione ul li{
    margin: 10px;
}

#registrazione ul li input[type="text"]{
    display: block;
    margin: auto;
    width: 50%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ff0028;
}

#registrazione ul li input[type="password"]{
    display: block;
    margin: auto;
    width: 50%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ff0028;
}

#registrazione ul li input[type="email"]{
    display: block;
    margin: auto;
    width: 50%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ff0028;
}

#btnReg, #btnLogin{
    background-color: #ff0028;
    border: 2px solid black;
    color: #fff685;
    font-family: 'Press Start 2P', serif;
    width: 250px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;
}

#login{
    text-align: center;
}

#login ul{
    list-style-type: none;
    padding: 10px;
}

#login ul li{
    margin: 10px;
    padding: 10px;
}

#login ul li input[type="text"]{
    display: block;
    margin: auto;
    width: 50%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ff0028;
}

#login ul li input[type="password"]{
    display: block;
    margin: auto;
    width: 50%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ff0028;
}

#login a {
    color: #fff685;
    text-decoration: none;
}

#login a:hover {
    color: #ff0028;
}

.testo{
    background-color: #ff0028;
    border: 2px solid black;
    color: #fff685;
    font-family: 'Press Start 2P', serif;
    height: 25px;
    border-radius: 5px;
}

@media screen and (max-width: 550px){
    #login ul li input[type="text"]{
        width: 100%;
    }

    #login ul li input[type="password"]{
        width: 100%;
    }

    #registrazione ul li input[type="text"]{
        width: 100%;
    }

    #registrazione ul li input[type="email"]{
        width: 100%;
    }

    #registrazione ul li input[type="password"]{
        width: 100%;
    }

    #btnReg, #btnLogin{
        width: 100%;
        font-size: 13px;
    }
}
