@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1b74b0;
    height: 100vh;
    font-family: 'Press Start 2P';
    color: #f7b544;
}

body h1{
    text-align: center;
}

#registrazione, #login{
    width: 45%;
    margin: 10px;
}

#registrazione{
    text-align: center;
}

#registrazione ul{
    list-style-type: none;
    padding: 0;
}

#registrazione ul li{
    margin: 10px;
}

#registrazione ul li input[type="text"]{
    display: block;
    margin: auto;
    width: 50%;
}

#login{
    text-align: center;
}

#login ul{
    list-style-type: none;
    padding: 10px;
}

#login ul li{
    margin: 10px;
    padding: 10px;
}

#login ul li input[type="text"]{
    display: block;
    margin: auto;
    width: 50%;
}

#login a {
    color: #f7b544; /* Cambia questo colore secondo le tue preferenze */
    text-decoration: none;
}