/* Importazione del font */
@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

body{
    background-color: #1b74b0;
    text-align: center;
    font-family: 'Press Start 2P';
    color: #f7b544;
}

#articoli{
    background-color: white;
    display: flex;
    justify-content: center;
}

#articoli img{
    height: 250px;
    width: 250px;
}