@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

body {
    background-color: #1b74b0;
    text-align: center;
    font-family: 'Press Start 2P', serif;
    color: #f7b544;
}

/* modifica l'immagine del prodotto */
#prodotto img{
    height: 700px;
    width: 500px;
    margin-left: 100px;
    margin-right: 300px;
    margin-bottom: 10px;
    background-color: white; /* Sfondo bianco */
    border-radius: 15px; /* Contorni tondi */
    padding: 10px; /* Spazio intorno all'immagine */
    border: 1px solid #ddd; /* Bordo leggero (opzionale) */
}

#prodotto td h3{
    text-align: center;
    vertical-align: middle;
}

/* modifica la parte della descrizione del prodotto */
#product-info{
    max-width: 50%;
    background-color: red; /* Colore di sfondo */
    border-radius: 15px; /* Angoli arrotondati */
    padding: 100px; /* Spazio interno */
    color: #f7b544; /* Colore del testo bianco per contrasto */
}

/* cambia lo stile del bottone "aggiungi al carrello "*/
#carrello input[type="submit"]{
    background-color: #ffffff;
    border: 2px solid black;
    color: #f7b544;
    font-family: 'Press Start 2P', serif;
    width: 350px;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 20px;

}